{{#if listExists}}
    <ul>
        {{#each product}}
            <li class={{this.title}}>{{this.title}}</li>
        {{/each}}
    </ul>
{{/if}}
<br>
<a href="/" type="button">Ingresar un Producto</a>